In [34]:
import pandas as pd 
import numpy as np

## **Adj matrix from Barbera 1**

In [35]:
adj_2 = pd.read_csv('data/misc/Replication_data_Barbera_2014/adj-matrix-US.csv')
barbera_adj_elites = [i.lower() for i in list(adj_2.columns[1:])]
barbera_adj_elites = pd.DataFrame(barbera_adj_elites).rename(columns = {0:'twitter_name'})
print(f'{len(barbera_adj_elites)} elites in adj')

318 elites in adj

**Pivot into edgelist**

In [79]:
network_edgelist = adj_2.melt(id_vars=['Unnamed: 0'], var_name='twitter_name', value_name='follow')
network_edgelist = network_edgelist[network_edgelist['follow'] != 0].rename(columns={'Unnamed: 0' : 'user'}).drop(['follow'],axis=1)
network_edgelist['twitter_name'] = network_edgelist['twitter_name'].str.lower()
print(f'{network_edgelist['user'].nunique()} users')
print(f'{network_edgelist['twitter_name'].nunique()} twitter_name')

301537 users
318 twitter_name

**Filter for 183 congressmembers**

In [67]:
zhixiang_house = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/1. Following Data/2. Information about congressional members insde 318 accounts/House_list_in_318_accounts.csv')
zhixiang_senate = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/1. Following Data/2. Information about congressional members insde 318 accounts/Senate_list_in_318_accounts.csv')

zhixiang_congress = pd.concat([zhixiang_house, zhixiang_senate]).drop_duplicates(subset=['twitter_name']).drop(['DW-Nominate'], axis=1)

zhixiang_results_house = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/2.Opinion results/opinion_house.csv')
zhixiang_results_senate = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/2.Opinion results/opinion_senate.csv')

zhixiang_results_congress = pd.concat([zhixiang_results_house, zhixiang_results_senate]).drop_duplicates(subset=['twitter_name'])

zhixiang_list = zhixiang_congress.merge(zhixiang_results_congress, on='twitter_name', how='inner')
zhixiang_list

      nameid party     twitter_name chamber gender state  opinion measured
0    B000589     R   speakerboehner   House      M    OH          0.597428
1    R000570     R      reppaulryan   House      M    WI          0.500000
2    P000197     D      nancypelosi   House      F    CA          0.393234
3    B001256     R  michelebachmann   House      F    MN          0.623674
4    W000797     D        dwstweets   House      F    FL          0.365214
..       ...   ...              ...     ...    ...   ...               ...
178  R000361     D   senrockefeller  Senate      M    WV          0.638404
179  M001183     D   sen_joemanchin  Senate      M    WV          0.536440
180  C000542     R      sendancoats  Senate      M    IN          0.353174
181  M000355     R   mcconnellpress  Senate      M    KY          0.280434
182  B001261     R  senjohnbarrasso  Senate      M    WY          0.209058

[183 rows x 7 columns]

In [87]:
network_edgelist_183 = network_edgelist.merge(zhixiang_list[['twitter_name','chamber']], on='twitter_name', how='inner')

In [97]:
network_edgelist_183

            user    twitter_name chamber
0       us298496  speakerboehner   House
1       us194743  speakerboehner   House
2       us220142  speakerboehner   House
3       us155350  speakerboehner   House
4        us36718  speakerboehner   House
...          ...             ...     ...
719135  us283781      repcleaver   House
719136   us53948      repcleaver   House
719137  us208003      repcleaver   House
719138    us4654      repcleaver   House
719139   us13907      repcleaver   House

[719140 rows x 3 columns]

In [99]:
network_edgelist_183_house = network_edgelist_183[network_edgelist_183['chamber'] == 'House'][['user', 'twitter_name']]
network_edgelist_183_house.to_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/network_edgelist_house.csv', header=None, index=None)

In [100]:
network_edgelist_183_senate = network_edgelist_183[network_edgelist_183['chamber'] == 'Senate'][['user', 'twitter_name']]
network_edgelist_183_senate.to_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/network_edgelist_senate.csv', header=None, index=None)

In [85]:
network_edgelist_183.to_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/network_edgelist.csv', header=None, index=None)

## **Results from Barbera 1**

In [25]:
barbera_666_elites = pd.read_csv('data/misc/Replication_data_Barbera_2014/elites-data.csv').rename(columns={'merge' : 'twitter_name'})
barbera_666_elites

barbera_318_elites = pd.read_csv('data/misc/Replication_data_Barbera_2014/results-elites-US.csv')
barbera_318_elites['twitter_name'] = barbera_318_elites['screen_name'].str.lower()

## **Zhixiang 183 list**

In [26]:
zhixiang_house = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/1. Following Data/2. Information about congressional members insde 318 accounts/House_list_in_318_accounts.csv')
zhixiang_senate = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/1. Following Data/2. Information about congressional members insde 318 accounts/Senate_list_in_318_accounts.csv')

zhixiang_congress = pd.concat([zhixiang_house, zhixiang_senate]).drop_duplicates(subset=['twitter_name']).drop(['DW-Nominate'], axis=1)

zhixiang_results_house = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/2.Opinion results/opinion_house.csv')
zhixiang_results_senate = pd.read_csv('data/misc/Data_about_Opinion_Measurement_Zhixiang/2.Opinion results/opinion_senate.csv')

zhixiang_results_congress = pd.concat([zhixiang_results_house, zhixiang_results_senate]).drop_duplicates(subset=['twitter_name'])

zhixiang_list = zhixiang_congress.merge(zhixiang_results_congress, on='twitter_name', how='inner')
zhixiang_list

      nameid party     twitter_name chamber gender state  opinion measured
0    B000589     R   speakerboehner   House      M    OH          0.597428
1    R000570     R      reppaulryan   House      M    WI          0.500000
2    P000197     D      nancypelosi   House      F    CA          0.393234
3    B001256     R  michelebachmann   House      F    MN          0.623674
4    W000797     D        dwstweets   House      F    FL          0.365214
..       ...   ...              ...     ...    ...   ...               ...
178  R000361     D   senrockefeller  Senate      M    WV          0.638404
179  M001183     D   sen_joemanchin  Senate      M    WV          0.536440
180  C000542     R      sendancoats  Senate      M    IN          0.353174
181  M000355     R   mcconnellpress  Senate      M    KY          0.280434
182  B001261     R  senjohnbarrasso  Senate      M    WY          0.209058

[183 rows x 7 columns]

In [64]:
zhixiang_list['twitter_name']

0       speakerboehner
1          reppaulryan
2          nancypelosi
3      michelebachmann
4            dwstweets
            ...
178     senrockefeller
179     sen_joemanchin
180        sendancoats
181     mcconnellpress
182    senjohnbarrasso
Name: twitter_name, Length: 183, dtype: object

## **Jackman**

In [27]:
house_jackman = pd.read_csv('data/misc/Replication_data_Barbera_2015/house.csv')
senate_jackman = pd.read_csv('data/misc/Replication_data_Barbera_2015/senate.csv')
congress_jackman = pd.concat([house_jackman, senate_jackman])
congress_jackman

,last.name,first.name,state,district,party,gender,nameid,icpsr.id,missingVotes,idealPoint,lo,up,label,class,next.election
0,Aderholt,Robert,AL,4.0,R,M,A000055,29701.0,52,0.846485,0.690688,0.991451,Aderholt (R AL-4),NaN,NaN
1,Alexander,Rodney,LA,5.0,R,M,A000361,20327.0,255,0.615622,0.498323,0.735223,Alexander (R LA-5),NaN,NaN
2,Amash,Justin,MI,3.0,R,M,A000367,NaN,4,0.529144,0.438197,0.631098,Amash (R MI-3),NaN,NaN
3,Amodei,Mark,NV,2.0,R,M,A000369,NaN,69,0.855191,0.711012,1.004577,Amodei (R NV-2),NaN,NaN
4,Andrews,Robert,NJ,1.0,D,M,A000210,15802.0,41,-0.963694,-1.102432,-0.836273,Andrews (D NJ-1),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,Warner,Mark,VA,NaN,D,M,W000805,NaN,7,-0.443630,-0.613469,-0.300256,Warner (D-VA),NaN,NaN
101,Warren,Elizabeth,MA,NaN,D,F,W000817,NaN,5,-1.047666,-1.482828,-0.690023,Warren (D-MA),NaN,NaN
102,Whitehouse,Sheldon,RI,NaN,D,M,W000802,40704.0,4,-1.099642,-1.478114,-0.680648,Whitehouse (D-RI),NaN,NaN
103,Wicker,Roger,MS,NaN,R,M,W000437,29534.0,6,0.886807,0.754640,1.019466,Wicker (R-MS),NaN,NaN
104,Wyden,Ron,OR,NaN,D,M,W000779,14871.0,1,-0.659467,-0.883818,-0.462925,Wyden (D-OR),NaN,NaN

## **Elites from Babera 2**

In [28]:
barbera_2 = pd.read_csv('data/misc/Replication_data_Barbera_2015/elites-data.csv').rename(columns={'id' : 'nameid'})

In [29]:
tbl = barbera_2.dropna(subset=['nameid']).merge(congress_jackman, on='nameid', how='inner').merge(zhixiang_list, on='twitter_name', how='inner')

In [30]:
tbl

,thomas_id,nameid_x,chamber_x,stdis,first_name,last_name,party_x,twitter_name,twitter_id,type,...,up,label,class,next.election,nameid_y,party,chamber_y,gender_y,state_y,opinion measured
0,1694.0,M001153,Senate,AK,Lisa,Murkowski,R,lisamurkowski,18061669.0,legislator,...,0.429772,Murkowski (R-AK),NaN,NaN,M001153,R,Senate,F,AK,0.421558
1,1898.0,B001265,Senate,AK,Mark,Begich,D,senatorbegich,83901492.0,legislator,...,-0.214312,Begich (D-AK),NaN,NaN,B001265,D,Senate,M,AK,0.615312
2,1548.0,S001141,Senate,AL,Jeff,Sessions,R,senatorsessions,47975734.0,legislator,...,1.470827,Sessions (R-AL),NaN,NaN,S001141,R,Senate,M,AL,0.214506
3,1704.0,R000575,House,AL3,Mike,Rogers,R,repmikerogersal,33977070.0,legislator,...,0.960402,Rogers (R AL-3),NaN,NaN,R000575,R,House,M,AL,0.656204
4,1687.0,B001236,Senate,AR,John,Boozman,R,johnboozman,5558312.0,legislator,...,1.233478,Boozman (R-AR),NaN,NaN,B001236,R,Senate,M,AR,0.331436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,1424.0,R000361,Senate,WV,John,Rockefeller IV,D,senrockefeller,273559002.0,legislator,...,-0.522048,Rockefeller IV (D-WV),NaN,NaN,R000361,D,Senate,M,WV,0.638404
180,1983.0,M001183,Senate,WV,Joe,Manchin III,D,sen_joemanchin,234374703.0,legislator,...,0.098611,Manchin III (D-WV),NaN,NaN,M001183,D,Senate,M,WV,0.536440
181,940.0,R000011,House,WV3,Nick,Rahall II,D,housetransinf,21684013.0,legislator,...,-0.299003,Rahall II (D WV-3),NaN,NaN,R000011,D,House,M,WV,0.405293
182,1960.0,L000571,House,WY,Cynthia,Lummis,R,cynthialummis,22831059.0,legislator,...,1.042191,Lummis (R WY-1),NaN,NaN,L000571,R,House,F,WY,0.572624
183,1881.0,B001261,Senate,WY,John,Barrasso,R,senjohnbarrasso,202206694.0,legislator,...,1.486478,Barrasso (R-WY),NaN,NaN,B001261,R,Senate,M,WY,0.209058

In [31]:
tbl[tbl['twitter_name'] == 'gopleader']

,thomas_id,nameid_x,chamber_x,stdis,first_name,last_name,party_x,twitter_name,twitter_id,type,...,up,label,class,next.election,nameid_y,party,chamber_y,gender_y,state_y,opinion measured
168,1674.0,C001046,House,VA7,Eric,Cantor,R,gopleader,18891923.0,legislator,...,1.109909,Cantor (R VA-7),NaN,NaN,C001046,R,House,M,VA,0.616731

In [33]:
test = pd.read_csv('data/raw/congressmembers_characteristics.csv')
test[test['twitter_name'] =='gopleader']

,Unnamed: 0,nameid,congressperson,first_name,last_name,gender,party,chamber,stdis,twitter_name,dw.nom.1,Barbera1_score,Jackman_score,Zhixiang_score
5,5,C001046,?,Eric,Cantor,M,R,House,VA7,gopleader,0.544,1.197462,0.953945,0.616731